@import url(https://fonts.googleapis.com/css?family=Raleway);
section {
    position: relative;
    min-height: 90vh;
    background-image: linear-gradient(rgba(230, 215, 215, 0.479), rgba(236, 222, 222, 0.479)), url("../img/orderbackground.jpg");

    display: flex;
    padding: 20px;
}

.test {
    background-color: rgba(255, 255, 255, 0.452);
    border: 1px solid rgba(78, 75, 75, 0.575);
    height: 600px;
    border-radius: 10px;
}
.imagein-form {
    width: 100%;
    height: 60%;
}
.categoryin-form{
    width: 100%;
    height: 40%;
    padding: 10px 50px;
}
.sum-titleform{
    height: 10%;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.sum-titleform p{
    font-size: 15px;
}


.sum-imageform {
    height: 80%;
    padding: auto;
}
.sum-buttonform {
    height: 10%;
    float: right;
}



/* 이미지 업로드 스타일  */

.label-style{
    width: 100%;
    
}

.label-style div{
    width: 100%;
    text-align : center;
    font-family: Raleway;
    color: rgb(19, 18, 18);
    
}

.btn-upload {
    width: 100%;
    height: 220px;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.start-button {
    width: 100px;
    height: 35px;
    border-radius: 15px;
    margin-right: 15px;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(77,77,77);
    font-size: 10px;
}
.start-button:hover {
    background: rgb(77,77,77);
    color: #fff;
}

.save-button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    margin-right: 15px;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(77,77,77);
    font-size: 12px;
    float: right;
    position:relative;
    top:430px;
}

.save-button:hover {
    background: rgb(77,77,77);
    color: #fff;
}



.btn-upload:hover {
    background: rgb(77,77,77);
    color: #fff;
}
  
#file {
    display: none;
}

.inputfile{

    display: none;
}

.font-style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 300px;
    text-align: center;
    
}

.font-style p {
    color: rgb(202, 128, 128);
    font-size: 50px;
    width: 60%;
}

/* category 선택  */

.category-style {
    margin: 80px 1px;
    width: 57%;
    height: 300px;
    
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.scroll-form {
    padding: 10px;
    width: 280px;
    height: auto;
    
}
.scroll-image{
    padding: 20px;
    width: 280px;
    height: auto;
    
}

.scroll-style::-webkit-scrollbar {
    display: none;
}

.fit-picture {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 180px;
}

.button-style {
    margin-top: -120px;
    width: 200px;
    height: 60px;
    float: right;
    border: 0;
    outline: none;
    font-size: 30px;
    background: rgb(255, 255, 255);
    color: rgb(26, 25, 25);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #353535;
}

.button-style:hover{
    background: rgb(77,77,77);
    color: #fff;
}

.clothes-div {
    background-image: url("https://www.muji.com/wp-content/uploads/sites/12/2021/02/026.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-position {
    border: 1px solid red;
    position: relative;
    width: 30%;
    height: 0;
    padding-top:20%;
    top: 40%;
    left: 35%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}