<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div id="headers"></div>
    <div class="cover-image">
        <div class="cover-text">
            <h2>효진님 바보 멍청멍청<h2>
                    <p class="inner-text">저희 U-HWA에서는 이미지를 가지고 필터를 사용하여 새로운 이미지를 만들어 원하는 굿즈로 제작해 드립니다.</p>
        </div>
    </div>
    <section>

        <div class="content">
            <main class="main-area">
                <div class="centered">
                    <section class="cards" id="products">

                        </article><!-- .card -->

                    </section><!-- .cards -->
                    <ul class="pagination pagination-style">
                        <li class="page-item"><a class="page-link" onclick=" pagePreview1()">Previous</a></li>
                        <li class="page-item"><a class="page-link" onclick=" pageNext1()">Next</a></li>
                    </ul>
                </div><!-- .centered -->
            </main><!-- main-area -->

            <div class="sidebar">
                <div class="squish-container">
                    <h3>효진님바보?:</h3>
                    <nav class="example-menu">
                        <ul>
                            <li><a href="https://codepen.io/bugsyAlexander/pen/xGBaaG" target="_blank">효진님바보</a></li>
                            <li><a href="https://codepen.io/bugsyAlexander/pen/gpyYOo" target="_blank">효진님바보</a></li>
                            <li><a href="https://codepen.io/bugsyAlexander/pen/OVGLmo" target="_blank">효진님바보</a></li>
                            <li><a href="https://codepen.io/bugsyAlexander/pen/xGNZao" target="_blank">효진님바보</a></li>
                        </ul>
                    </nav><!-- .example-menu -->
                </div>
            </div><!-- .sidebar -->
        </div><!-- .content -->

    </section>


    <script src='../static/js/main_hood.js'> </script>
    <script src="../static/js/all_data.js"></script>

</html>