<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div id="headers"></div>
    <div class="cover-image">
        <div class="cover-text">
            <h2>My own goods<h2>
                <h3 class="inner-text"><br>U-HWA에서는 자신만의 이미지를 커스터마이징하여 세상에 단 하나뿐인 굿즈를 제작해드립니다. <br>하이퀄리티 공정으로 제작기간이 소요되며 한정수량 원단으로 생산하는 상품입니다. 원단소진시 조기마감될 수 있습니다.</h3>
        </div>
    </div>
    <section>

        <div class="content">
            <main class="main-area">
                <div class="centered">
                    <section class="cards" id="products">

                    </section><!-- .cards -->
                    <ul class="pagination pagination-style">
                        <li class="page-item"><a class="page-link" onclick=" pagePreview1()">Previous</a></li>
                        <li class="page-item"><a class="page-link" onclick=" pageNext1()">Next</a></li>
                    </ul>
                </div><!-- .centered -->
            </main><!-- main-area -->

            <div class="sidebar">
                <div class="squish-container">
                    <h5>카테고리 선택:</h5>
                    <nav class="example-menu">
                        <ul>
                            <li><a style="category-button" href="main_shirt.html">- shirt</a></li>
                            <li><a style="category-button" href="main_hood.html">- hood</a></li>
                            <li><a style="category-button" href="main_cap.html">- cap</a></li>
                        </ul>
                    </nav><!-- .example-menu -->
                </div>
            </div><!-- .sidebar -->
        </div><!-- .content -->

    </section>


    <script src='../static/js/main_cap.js'> </script>
    <script src="../static/js/all_data.js"></script>

</html>