<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/navigation.css">
</head>
<body>

    <nav id="nav-1">
        <span class="title">U-HWA</span>
        <a class="link-1" href="main.html">Home</a>
        <a class="link-1" href="#">About</a>
        <a class="link-1" href="#">Contact</a>
        <a class="link-1" href="#">Shop</a>
        <a class="user-nav" href="login.html">Login</span> 
        <a class="user-nav" href="profile.html">Profile</span>
    </nav>
    
</body>
</html>