<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order list</title>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/orderview.css">
</head>
<body>
    <div id="headers"></div>

	<footer id="site-footer">
		<div class="container clearfix">

			<div class="left">
				<h2 class="subtotal">미확인 주문 : <span id="none_check"></span>건</h2>
			</div>

			<div class="right">
				<h1 class="total">Total: <span id="total_input"></span>won</h1>
			</div>

		</div>
	</footer>

	<div class="container" id="container">
	</div>

	<script src='../static/js/all_data.js'> </script>
	<script src='../static/js/orderview.js'> </script>
</body>
</html>